@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --border-color: #121214; /* Default border color for light mode */
}

.dark {
  --border-color: #ffffff; /* Border color for dark mode */
}

.sepia {
  --border-color: #433422; /* Border color for sepia mode */
}

body {
  font-family: "Teko", sans-serif;
  background-color: #e2dcd8;
  color: #121214;
  letter-spacing: 0.05em;
}

::selection {
  background-color: #defffa;
  color: #555555;
}

.light body {
  background-color: #e2dcd8;
  color: #121214;
}

.dark body {
  background-color: #091a28;
  color: #ebf4f1;
}

.sepia body {
  background-color: #f1e7d0;
  color: #433422;
}
